views/index.pug
doctype html
html(lang='en')
  head
    title=title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='css/style.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Bangers', rel='stylesheet', type='text/css')
  body
    section.portada.background
    .contenedor
      #main
    script(src='app.js')

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section class="portada background"></section>
    <div class="contenedor">
      <div id="main"></div>
    </div>
    <script src="public/app.js"></script>
  </body>
</html>
